#My Virtual Enviroment
env/

#All the PDFS that I have
*.pdf

# Projects
FAA_TitanicSpace/
BN_Marketing_Analytics
Multivariate Statistics/IMG_1007.jpg
Multivariate Statistics/IMG_1008.jpg
Multivariate Statistics/IMG_1009.jpg
ProductionLoader.ipynb
*.pptx